# Archivos objeto y de compilación
*.o
*.obj
*.lo
*.la

# Archivos de dependencias
*.d

# Librerías estáticas y dinámicas
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll

# Ejecutables y binarios
*.exe
*.out
*.app
*.elf
*.hex

# Archivos de depuración y perfiles
*.dSYM/
*.su
*.idb
*.pdb
*.ilk
*.map
*.exp
*.gch
*.pch
.dwo

# Archivos de editores e IDEs comunes
.vscode/
.idea/
*.swp
*.swo
*~
*.orig

# Archivos del sistema operativo
.DS_Store
Thumbs.db
Desktop.ini
